body {
	margin: 0;
	padding: 0;
	width: 60%;
	margin: 0 auto;
	font-family: 'Helvetica', sans-serif;
}

header, footer {
	color: #000;
	padding: 1rem;
	font-size: 0.9rem;
}

header a, footer a {
	color: #000;
	text-decoration: none;
	margin-right: 1rem;
	font-size: 0.9rem;
}

main {
	padding: 1rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

p {
	font-size: 0.9rem;
	line-height: 1.5;
}

h1 {
	font-size: 1.3rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 2rem;
}

li {
	font-size: 0.9rem;
	line-height: 1.5;
	margin-bottom: 0.5rem;
}